<h1> Welcome to your task manager Maxou</h1>

<%= link_to "Add a task", new_task_path  %>

<h2> Today's tasks</h2>

<% @tasks.each do |task| %>
<h3> <%= link_to task.title, task_path(task)%> </h3>
<p> <%= task.description %> </p>
<% end %>
